* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

html, body, :root {
    font-family: 'Main', Roboto, sans-serif;
    background: #ffffff;
    color: #1f1f1f;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
}

body {
    font-size: 1rem;
}

code {
    padding: 0.125rem;
    margin: 0.125rem;
    border: 1px solid #b9b9b9;
    border-radius: 0.5rem;
    font-size: 1rem;
}

body > div {
    width: 100%;
    min-height: 100vh;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

body > div > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

body > div > div > h1 {
    padding-bottom: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}

body > div > div > img {
    width: 20rem;
}

.subtitle {
    color: #b9b9b9;
}

.progress-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.progress-container > div {
    opacity: 1;
    transition: opacity 500ms ease;
    width: 2rem;
    height: 2rem;
    margin: 0 1rem;
    background: #b9b9b9;
    border-radius: 50%;
}

.progress-container > div.hide {
    opacity: 0;
}

table.details {
    padding: 1rem 1rem;
    table-layout: fixed;
    word-wrap: anywhere;
}

@media screen and (max-height: 500px), screen and (max-width: 380px) {
    body > div > div > img {
        width: 10rem;
    }

    .progress-container {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
    }

    .progress-container > div {
        width: 1rem;
        height: 1rem;
        margin: 0 0.5rem;
    }
}
